<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/narrow-jumbotron.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/signin.css">

</head>
<body>
    <div class="jumbotron">
        <p>
                        
            </p>
    {{{ body }}}
    </div>
</body>
</html>
