<div class="container">
     <br>
     <br>
     
      <main role="main">

        <div class="jumbotron">
          <h1 class="display-3">Public Library Management System</h1>
          <form class="form-signin" align="center" action="/insertBook" method="post">
        <h2 class="form-signin-heading">Insert Books</h2>
        <label for="inputBookName" class="sr-only">Book Name</label>
        <input  type="text" id="inputBookName" name="inputBookName" class="form-control" placeholder="Book Name" required autofocus>
        <label for="inputBookAuthor" class="sr-only">Book Author</label>
        <input type="text" id="inputBookAuthor" name="inputBookAuthor" class="form-control" placeholder="Book Author" required>
        <br>
        <button class="btn btn-lg btn-success" type="submit">Add Book</button>
        
        <a class="btn btn-lg btn-success" href="/home" role="button">Exit</a>
      </form>
      <br>

          
          
          </p> 
        </div>

        
      </main>

      

    </div>