<div class="container">
     <br>
     <br>
     
      <main role="main">

        <div class="jumbotron">
          <h1 class="display-3">Public Library Management System</h1>
          <form class="form-signin" align="center" action="/insertLibrary" method="post">
        <h2 class="form-signin-heading">Create New Library</h2>
        <label for="inputLibName" class="sr-only">Library Name</label>
        <input  type="text" id="inputLibName" name="inputLibName" class="form-control" placeholder="Library Name" required autofocus>
        <label for="inputLibAddress" class="sr-only">Library Address</label>
        <input type="text" id="inputLibAddress" name="inputAddress" class="form-control" placeholder="Library Address" required>
        <br>
        <button class="btn btn-lg btn-success" type="submit">Create New Library</button>
        
        <a class="btn btn-lg btn-success" href="/home" role="button">Exit</a>
      </form>
      <br>

          
          
          </p> 
        </div>

        
      </main>

      

    </div>