<div class="container">
     <br>
     <br>
     
      <main role="main">

        <div class="jumbotron">
          <h1 class="display-3">Public Library Management System</h1>
          <p class="lead">
              <ul>
                  <a href="addLibrary"><li ><h5>Register library</h5></li></a>
                  <a href="addBooks"><li><h5>Add Books to library</h5></li></a>
                  <a href="listBooks"><li><h5>Show all available books to user</h5></li></a>
                  
              </ul>
          </p>
                    
          <a class="btn btn-lg btn-success" href="/" role="button">Exit</a>
          </p> 
        </div>

        
      </main>

      

    </div>