extends layout

block content
 .container
  header.header.clearfix
    h3.text-muted Project By DANISH ANSARI
  main(role='main')
    .jumbotron
      h1.display-3 Public Library Management System
      p.lead(style='white-space:pre;')
        | Register Libraries. 
        | Add Books to library.
        | Register/login users for library.
        | Show user all available books.
        | Allow a user to issue available books.
        | Show a user all their issued books.
        | Allow user to return issued books.
      p(style='white-space:pre;')
        a.btn.btn-lg.btn-success(href='#', role='button') Sign up
        |  
        a.btn.btn-lg.btn-success(href='#', role='button') Login
     
  footer.footer
    p © Danish    
    // /container
