<div class="container">
     <br>
     <br>
     
      <main role="main">

        <div class="jumbotron">
          <h1 class="display-3">Public Library Management System</h1>
          
          <p align="center"><a class="btn btn-lg btn-success" href="register" role="button">Sign up</a>
          
          <a class="btn btn-lg btn-success" href="login" role="button">Login</a>
          </p> 
        </div>

        
      </main>

      

    </div>